[submodule "thirdParty/assimp"]
	path = thirdParty/assimp
	url = https://github.com/assimp/assimp
[submodule "thirdParty/rapidjson"]
	path = thirdParty/rapidjson
	url = https://github.com/Tencent/rapidjson/
[submodule "thirdParty/DirectX-Headers"]
	path = thirdParty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "thirdParty/DirectXTex"]
	path = thirdParty/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "thirdParty/imgui"]
	path = thirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdParty/DirectXMath"]
	path = thirdParty/DirectXMath
	url = https://github.com/Esentiel/DirectXMath.git
[submodule "thirdParty/glfw"]
	path = thirdParty/glfw
	url = https://github.com/glfw/glfw.git
